files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIDnzCCAoegAwIBAgIUET2bRbGZUAFQnyOfxfEIIApDPZAwDQYJKoZIhvcNAQEL
        BQAwXzELMAkGA1UEBhMCVVMxDjAMBgNVBAgMBVN0YXRlMQ0wCwYDVQQHDARDaXR5
        MRAwDgYDVQQKDAdDb21wYW55MQswCQYDVQQLDAJJVDESMBAGA1UEAwwJbG9jYWxo
        b3N0MB4XDTI1MDQwNTA4NDM1OFoXDTI2MDQwNTA4NDM1OFowXzELMAkGA1UEBhMC
        VVMxDjAMBgNVBAgMBVN0YXRlMQ0wCwYDVQQHDARDaXR5MRAwDgYDVQQKDAdDb21w
        YW55MQswCQYDVQQLDAJJVDESMBAGA1UEAwwJbG9jYWxob3N0MIIBIjANBgkqhkiG
        9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyn92hGXyOuO/pkAB0b1jOfQsRBRFcIz2uGul
        B1u9eJ0T87TFBfvQM9rT2FvxBQbYoemVul/i31CPlE2x+LTS8bA79Kx0diEyn9JI
        aFOjAHp/qwI23z+CPDXalkzXT9YPsPkCToM8umnz3PhQLRoXYggne8vVLp6e2NZn
        FvUwT5Tik5LP5A/VqMC0cMkf54pRdBGda/pSAFE+eWzEKeskLoF3a9isdKxtiP4P
        FFeuxoAn4SYuGY0ueOOrmdRWzVE1FQfNX1fSwINabmCJ4lbFLJkgeMrPkZp8NEHz
        xF2OqFHFSrGwazHold/E+VZtpjrdehibkaVWNun+corxFsRcfwIDAQABo1MwUTAd
        BgNVHQ4EFgQUjGokWlKy1+aGSsZLON3yXzQ17s8wHwYDVR0jBBgwFoAUjGokWlKy
        1+aGSsZLON3yXzQ17s8wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
        AQEAUd8MRkq8QM8FffO48aNbEjW+XRqWXnXNyep+P1eo/Tm8+azOLGTBaYZKiTCe
        YDMyHspXPMg3rgaVC2/9rW71RTcwSi7iwC0RT89vzRcBIxxlVLjEaKZNqHDhblds
        i3bJIUAQ5SIbg4G13Ifv9F5sB15HzLVwanxq3klH3nEjtu0TlI63sHOPQteLl4if
        TgtcdzdpEIjt4EhHr3i1pYA/9nSrQzblUNCyd4hKbW8Zdr2Jd7NwkJUUm6g1/KJt
        PffZZqa3XHFWAxjrOQ60Q/YxetMJAZ4NiPEbbgE6Xl0d3pjtGy7AoD265qhqHVj2
        SA4UKitgEn2wKD4Spd5isV6puA==
        -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN PRIVATE KEY-----
        MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDKf3aEZfI647+m
        QAHRvWM59CxEFEVwjPa4a6UHW714nRPztMUF+9Az2tPYW/EFBtih6ZW6X+LfUI+U
        TbH4tNLxsDv0rHR2ITKf0khoU6MAen+rAjbfP4I8NdqWTNdP1g+w+QJOgzy6afPc
        +FAtGhdiCCd7y9Uunp7Y1mcW9TBPlOKTks/kD9WowLRwyR/nilF0EZ1r+lIAUT55
        bMQp6yQugXdr2Kx0rG2I/g8UV67GgCfhJi4ZjS5446uZ1FbNUTUVB81fV9LAg1pu
        YIniVsUsmSB4ys+Rmnw0QfPEXY6oUcVKsbBrMeiV38T5Vm2mOt16GJuRpVY26f5y
        ivEWxFx/AgMBAAECggEACad3CovjtwwJpI7zp0C8vNQX0i0XPGz0DEnRhd7JUzlF
        7L4HEKh3PimmJPAJNyCi7mE5CrgslFH+bmcf34gbcHti+GDKcqFVjQoU+qhWIp00
        ff4uiIk6F83HfJfwQfWmLN1KT1zxZb/MaRILnILcb4eM/lly8fSNBTB/nLgW1Axi
        zVbuAubCb4telpLZ1dXrycaqlMI27EWW8zBoD50oi/1ygTm3lG8aQ1OBziJcSQ2D
        MIserUupYlBNwuj5GiS0cbZ6fRkhiEBvka6H1ckh2tGU2nMVqIDR1WX8/DFf5joQ
        oXEDEPHGZ/pIEelmWJsqB3YlPMSU8ooVqGRWBzG3tQKBgQD5ytpsjOq0rQgt67my
        nv8XY5cuso87h/UyYK2nWe4ak/8bLO2aZxBcPNzCh0wUGflOCyYSrnjcqQIt+6ab
        JkYNdydhNtXr1kPH7n86MXAlHJvAnMvzj6+0mtrBvFoXE2JkWe0qXUw5evZ7KsN+
        FpptOwDdXOuNw3sygA8NavhJFQKBgQDPh7py1vBBHfwcAuodIzPLRk/hRd5P0w74
        kuEtHY+kxc+0oy+qG89h7ObUOHoOflVC85gItBhR0GXjcXcFbHoqvKYcTuIfK/YX
        y4mEwfySYjcAE7cTwXqA9HyB8TTn/FZr1kqlxBamuiyCsZJ2yokoi3CqQyknR08n
        gmZjcXtMQwKBgE6JDcWFRKHLqT+u1nKndLJo2HaRI2FnLJtLNC3io27tyw5DQO0D
        rGwjopDysuO7CtwTu0OyYUOXS50jes1a6jl/lf0FnZqJgkQQ4yVrt8OjTADyC1mn
        emnBKjgxPO32ZUAB2gQw0y9bTrWIy3AQMTtYirwOY+ztYgWNp63jTO7FAoGAdZK2
        zeL5wFqFfzUjf5h2+n3+OWlE9sJjI+7Kxa2OuNIcx4EAOwaAakE10RuiAt4N3d11
        z9CASrGfV8jrnlYDrHyuOzFxqClWxcpZQa5JMoGUGWYR/Y5Kog5hD5kg2SE7sOJ5
        7gn2r0SgfPavPL+oDyFYlg1wnkEnFgIpkcM0EFMCgYBvW914e69stF40SHBbR4Dj
        JyIxQYc8gsw/oWJm1Z6AM7xNTBSO8k4MWLv91500cAsH/gTf0MOLZ6+GaBuug7CZ
        HdqSh99MQ6G9CG0rsR/5a4a9iFvU62dV6E9Q1UPvKisIIbrMTrlxYBsB1mFx/T4z
        ACsscy9RFmzKcPe2XWFjCw==
        -----END PRIVATE KEY-----